@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Events Administration</h1>
</div>

<div class="text-center">
    About Me: <p>@ViewData["UserName"]</p>
    My Email: <p>@ViewData["UserEmail"]</p>
</div>

<div class="text-center">
    <p><a asp-action="Index" asp-controller="Calendar">Go to my Events Administration</a></p>
</div>